<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>重庆移动核心网管理系统</title>

	<script src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
    <script src="/static/js/util.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/util.css">
</head>

<body>
	<div class="container-fluid container-box">
		<!-- Navigation -->
    <!-- /.navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
      <div class="sidebar-brand">
          <a href="#">重庆移动<br>核心网管理系统</a>
      </div>
        <ul class="nav sidebar-menu" id="side-menu">
          <li class="sidebar-dropdown menuHome">
            <a href="{% url 'cqen:index' %}">首页</a>
          </li>
          <li class="sidebar-dropdown menuHost">
            <a href="{% url 'cqen:hostlist' %}">主机列表</a>
          </li>
          <li class="sidebar-dropdown menuSSH">
            <a href="{% url 'cqen:ssh_task' %}">WebSSH</a>
          </li>
          <li class="sidebar-dropdown menuTask">
            <a href="{% url 'cqen:moretask' %}">批量任务</a>
          </li>
          <li class="sidebar-dropdown menuResult">
            <a href="{% url 'cqen:task_result_list' %}">任务结果</a>
          </li>
          <li class="sidebar-dropdown fileMgmt">
            <a href="{% url 'cqen:filemgmt' %}">文件管理</a>
          </li>
          <li class="sidebar-dropdown menuLog">
            <a href="{% url 'cqen:opreationlog' %}">系统日志</a>
          </li>
           <li class="sidebar-dropdown isolation active">
            <a href="#">隔离管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse show">
              <li>
                <a href="{% url 'cqen:isolation' %}">设备隔离</a>
              </li>
              <li>
                <a class="current" href="{% url 'cqen:Peer' %}">对端AS隔离</a>
              </li>
              <li>
                <a href="{% url 'cqen:switch23g' %}">切换2G/3G</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>

		<div class="main">
			<div class="breadcrumbNav breadcumb-back">
        <ol class="breadcrumb">
           <!-- 
          <li class="breadcrumb-item"><a href="../welcome.do">首页</a></li>
        -->
          <li class="breadcrumb-item active breadcrumb-equip">对端AS隔离</li>
        </ol>
        <button class="btn btn-outline-primary toBack" type="button" onclick="window.location.href='Peer.html'">返回</button>      
      </div>		

      <div class="general-list"> 				
      	<p>请选择接口地址</p>

      	<div class="table-lists">
					<div class="fixed-table-container">
						<table id="bootstrap-table" class="table table1 table-hover">
	            <thead>
	            	<th><input type="hidden"></th>
	            	<th data-field="equipmentname" data-sortable="true">IP短信网关接口</th>
	            </thead>

	          	<tbody>
	              <tr>
	              	<td><input type="radio" name="ip" value="1" checked="checked"></td>
	              	<td>10.188.101.77</td>
	              </tr>
	              <tr>
	              	<td><input type="radio" name="ip" value="2"></td>
	              	<td>10.188.101.77</td>
	              </tr>
	              <tr>
	              	<td><input type="radio" name="ip" value="3"></td>
	              	<td>10.188.101.77</td>
	              </tr>
	              <tr>
	              	<td><input type="radio" name="ip" value="4"></td>
	              	<td>10.188.101.77</td>
	              </tr>
	            </tbody>
          	</table>
          </div>
  			</div><!-- table-lists -->

				<div class="btn-bottom"><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#isolation">隔离</button></div>
			</div><!-- general-box -->
		</div><!-- main -->
		
		<!-- Modal -->
		<div class="modal fade" id="isolation" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="ModalLongTitle">隔离</h4>
					</div>
					<div class="modal-body">
				    <p>确定隔离该接口？</p>
				    <!-- <p>隔离成功！</p> -->
				    <!-- <p class="failure_c">隔离失败</p>
				    <p>失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因失败原因</p> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="">确定</button>
						<button type="button" class="btn btn-outline-primary" data-dismiss="modal">取消</button>								
					</div>
				</div>
			</div>
		</div>

		<footer>
			<p>重庆移动核心网管理系统 ©2016-2018</p>
		</footer>
	</div>

</body>
</html>