<!DOCTYPE html>
<html lang="en">
{% load staticfiles  %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>重庆移动核心网管理系统</title>

    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
    <script src="/static/js/util.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/util.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>

    <div class="container-fluid container-box">

    <!-- Navigation -->
    <!-- /.navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
      <div class="sidebar-brand">
          <a href="#">重庆移动<br>核心网管理系统</a>
      </div>
        <ul class="nav sidebar-menu" id="side-menu">
          <li class="sidebar-dropdown menuHome">
            <a href="{% url 'cqen:index' %}">首页</a>
          </li>
          <li class="sidebar-dropdown menuHost">
            <a href="{% url 'cqen:hostlist' %}">主机列表</a>
          </li>
          <li class="sidebar-dropdown menuSSH">
            <a href="{% url 'cqen:ssh_task' %}">WebSSH</a>
          </li>
          <li class="sidebar-dropdown menuTask">
            <a href="{% url 'cqen:moretask' %}">批量任务</a>
          </li>
          <li class="sidebar-dropdown menuResult">
            <a href="{% url 'cqen:task_result_list' %}">任务结果</a>
          </li>
          <li class="sidebar-dropdown fileMgmt">
            <a href="{% url 'cqen:filemgmt' %}">文件管理</a>
          </li>
          <li class="sidebar-dropdown menuLog">
            <a href="{% url 'cqen:opreationlog' %}">系统日志</a>
          </li>
         <li class="sidebar-dropdown isolation">
            <a href="#">隔离管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse show">
              <li>
                <a href="{% url 'cqen:isolation' %}">设备隔离</a>
              </li>
              <li>
                <a class="current" href="{% url 'cqen:Peer' %}">对端AS隔离</a>
              </li>
              <li>
                <a href="{% url 'cqen:switch23g' %}">切换2G/3G</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>

  <div id="page-wrapper">
    <div class="main">
      <div class="breadcrumbNav">
        <ol class="breadcrumb">
           <!-- 
          <li class="breadcrumb-item"><a href="../welcome.do">首页</a></li>
        -->
          <li class="breadcrumb-item active breadcrumb-isolation">对端AS隔离</li>
        </ol>
      </div>

      <div class="general-list menu__wrapper">
        <ul class="menu__tabs">
          <li><a class="active" href="#item-1">IP短信网关</a></li>
          <li><a href="#item-2">彩铃平台</a></li>
          <li><a href="#item-3">V网平台</a></li>
          <li><a href="#item-4">彩印平台</a></li>
          <li><a href="#item-5">和多号平台</a></li>
          <li><a href="#item-6">防骚扰平台</a></li>
          <li><a href="#item-7">一号多终端</a></li>
          <li><a href="#item-8">双跨平台</a></li>
          <li><a href="#item-9">改号平台</a></li>
          <li><a href="#item-10">设备拓扑图</a></li>
        </ul>

        <section class="menu__wrapper">
          <article id="item-1" class="menu__item item-active">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button" onclick="window.location.href='as_do.html'">隔离</button></td>
                      <td><a href="as_details.html">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button" onclick="window.location.href='as_do.html'">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button" onclick="window.location.href='as_do.html'">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="window.location.href='equipment_do.html'">隔离</button>
            </div> 
          </article>
          
          <article id="item-2" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-3" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-4" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-5" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-6" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-7" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-8" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-9" class="menu__item">
            <div class="table-lists">
              <div class="fixed-table-container">
                <table id="bootstrap-table" class="table">
                  <thead>
                    <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                    <th data-field="device" data-sortable="true" width="70%">设备名</th>
                    <th data-field="" data-sortable="true">状态</th>
                    <th data-field="" data-sortable="true">操作</th>
                    <th></th>
                  </thead>

                  <tbody>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG05</td>
                      <td>隔离成功</td>
                      <td><button class="btn btn-disabled" type="button">隔离</button></td>
                      <td><a href="#">查看详情</a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG06</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG07</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG08</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG09</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG11</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG12</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG13</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>ISBG14</td><td>使用中</td>
                      <td><button class="btn btn-primary" type="button">隔离</button></td>
                      <td><a></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>       
              <div class="nodata" style="display: none;">暂无数据</div>
            </div>  
            <div class="general-btn" style="margin-top:2rem;margin-left:2rem;">
              <button class="btn btn-primary" type="button" onclick="">隔离</button>
            </div> 
          </article>

          <article id="item-10" class="menu__item"><div class="table-lists pic-box ">  <img src={% static '/images/iload_2.jpg' %}></div></article>

        </section>
      </div>
    </div>

    <footer>
      <p>重庆移动核心网管理系统 ©2016-2018</p>
    </footer>
  </div><!-- /#page-wrapper -->

    </div>

</body>
<script>
$(function() {
  // Menu Tabular
  var $menu_tabs = $('.menu__tabs li a'); 
  $menu_tabs.on('click', function(e) {
    e.preventDefault();
    $menu_tabs.removeClass('active');
    $(this).addClass('active');

    $('.menu__item').fadeOut(300);
    $(this.hash).delay(300).fadeIn();
  });

});
</script>

</html>
