<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>重庆移动核心网管理系统</title>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>
    <script src="/static/js/util.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/sb-admin-2.css" >
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/util.css">

</head>

<body>
<div class="container-fluid container-box">
    <!-- Navigation -->
    <!-- /.navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
      <div class="sidebar-brand">
          <a href="#">重庆移动<br>核心网管理系统</a>
      </div>
        <ul class="nav sidebar-menu" id="side-menu">
          <li class="sidebar-dropdown menuHome">
            <a href="{% url 'cqen:index' %}">首页</a>
          </li>
          <li class="sidebar-dropdown menuHost">
            <a href="{% url 'cqen:hostlist' %}">主机列表</a>
          </li>
          <li class="sidebar-dropdown menuSSH">
            <a href="{% url 'cqen:ssh_task' %}">WebSSH</a>
          </li>
          <li class="sidebar-dropdown menuTask active">
            <a href="{% url 'cqen:moretask' %}">批量任务</a>
          </li>
          <li class="sidebar-dropdown menuResult">
            <a href="{% url 'cqen:task_result_list' %}">任务结果</a>
          </li>
          <li class="sidebar-dropdown fileMgmt">
            <a href="{% url 'cqen:filemgmt' %}">文件管理</a>
          </li>
          <li class="sidebar-dropdown menuLog">
            <a href="{% url 'cqen:opreationlog' %}">系统日志</a>
          </li>
          <li class="sidebar-dropdown isolation">
            <a href="#">隔离管理<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="isolation.html">设备隔离</a>
              </li>
              <li>
                <a href="Peer.html">对端AS隔离</a>
              </li>
              <li>
                <a href="23g.html">切换2G/3G</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>

    <script>

        function encodeHtml(s) {
            var s = $('#s').val()
            return s.replace(
                /"|&|'|<|>|[\x00-\x20]|[\x7F-\xFF]|[\u0100-\u2700]/g,
                function ($0) {
                    var c = $0.charCodeAt(0);
                    switch (c) {
                        case 13:
                            return "<br />";
                        case 32:
                            return "&#160;";
                        default:
                            return "&#" + c + ";";
                    }
                }
            );
        };
    </script>


    <script type="text/javascript">

        function check(onlyone) {
            var length = $("input[name='ids']:checked").length;
            if (onlyone && length != 1) {
                alert("请选择一项数据");
                return false;
            }
            if (!onlyone && length < 1) {
                alert("请选择数据");
                return false;
            }
            return true;

        }


        function btcall() {
            if (check(true)) {
                $("#callfr").action = "{% url 'cqen:querytask' %}";
                $("#callfr").submit();
            }
        }

    </script>


    <div class="main">
        <div class="breadcrumbNav">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active breadcrumb-host">主机列表</li>
            </ol>
        </div>

        <div class="general-list">
            <div class="general-btn">
                <button class="btn btn-primary" type="button" onclick="window.location.href='{% url 'cqen:addtask' %}'">
                    添加任务
                </button>
                <div class="form-group">

                    <input type="text" class="form-control" required="required" id="inputtask" name="taskid"
                           placeholder="taskid"/>

                </div>

                <input id="call" class="btn btn-success" type="button" value="查询任务" onclick="btcall()"/>

                <span class="text-success"> {{ res.status }} </span>

            </div>
            <form id="callfr" method="post" action="{% url 'cqen:querytask' %}">
                {% csrf_token %}
                <div class="table-lists">
                    <div class="fixed-table-container">
                        <table id="bootstrap-table" class="table table-hover ">
                            <thead>

                            <th data-field="state" data-checkbox="true"><input type="checkbox" id="selectAll"></th>
                            <th data-field="device" data-sortable="true">设备名</th>
                            <th data-field="ip" data-sortable="true">IP地址</th>
                            <th data-field="ip" data-sortable="true">指令</th>
                            <th data-field="vendor" data-sortable="true">status</th>
                            <th data-field="vendor" data-sortable="true">任务ID</th>
                            <th data-field="vendor" data-sortable="true">执行时间</th>
                            </thead>


                            <tbody id="tdata">
                            {% for contact in tasklist.object_list %}
                                <tr>
                                    <td><input name="ids" type="checkbox" value="{{ contact.id }}"></td>
                                    <td>{{ contact.hostname }}</td>
                                    <td>{{ contact.ip }}</td>
                                    <td>{{ contact.taskcmd }}</td>
                                    <td id="s">{{ contact.task_status }}</td>
                                    <td>{{ contact.task_id }}</td>
                                    <td>{{ contact.tasktime }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    </div>
                    <div class="nodata" style="display: none;">暂无数据</div>
                </div>

                <!-- 分页 -->
                <div class="pg-box">
                    <div class="pageMain">
                        <p>页数：<span>{{ tasklist.number }} /{{ tasklist.paginator.num_pages }}</span></p>
                        <p>总数：<span>{{ tasklist.paginator.num_pages }}</span></p>
                    </div>
                    <div class="tablePaginate">
                        <ul class="pagination">

                            <li class="paginate-outline paginate-disabled"><a
                                    style="text-decoration:none;color:#5a6268;"
                                    href="?page=1">首页</a></li>
                            {% if tasklist.has_previous %}
                                <li class="paginate-outline paginate-disabled"><a
                                        style="text-decoration:none;color:#5a6268;"
                                        href="?page={{ tasklist.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            {% for foo in tasklist.paginator.page_range %}
                                {% if tasklist.number == foo %}
                                    <li class="active"><a style="text-decoration:none;color:#5a6268;"
                                                          href="?page={{ foo }}"></a>{{ foo }}</li>
                                {% else %}
                                    <li><a style="text-decoration:none;color:#5a6268;"
                                           href="?page={{ foo }}">{{ foo }}</a>
                                    </li>


                                {% endif %}
                            {% endfor %}




                            {% if tasklist.has_next %}
                                <li class="paginate-outline"><a style="text-decoration:none;color:#5a6268;"
                                                                href="?page={{ tasklist.next_page_number }}">下一页</a>
                                </li>
                            {% endif %}
                            <li class="paginate-outline"><a style="text-decoration:none;color:#5a6268;"
                                                            href="?page={{ tasklist.paginator.num_pages }}"> 尾页</a></li>

                        </ul>
                    </div>
                </div><!-- 分页 -->
            </form>

        </div>
    </div>

    <footer>
        <p>重庆移动核心网管理系统 ©2016-2018</p>
    </footer>

  </div>
</body>
</html>